# База данных
DATABASE_URL="postgresql://snt_user:snt_password@localhost:5434/snt_db?schema=public"

# Next.js
NEXTAUTH_URL="http://localhost:3100"
NEXTAUTH_SECRET="your-secret-key-generate-with-openssl-rand-base64-32"

# WebSocket сервер
WS_PORT=3101
WS_INTERNAL_SECRET="your-internal-secret-generate-with-openssl-rand-base64-32"

# Название и описание приложения
NEXT_PUBLIC_APP_NAME="СНТ Берёнки-НТ"
NEXT_PUBLIC_APP_DESCRIPTION="Управление садоводческим товариществом"

# Файлы (хранение в PostgreSQL bytea)
MAX_FILE_SIZE=10485760
